<div class="deck-form">
  {% if error is not None %} 
  <div class=error-message>
      <p>{{ error }}</p>
  </div>
  {% end if %}
  <h2>Create Deck</h2>
  <form action="/deck/create" method="post">
      <div>
          <label for="name">Name</label>
          <input type="text" name="deck_name" id="name" required>
      </div>
      <div>
          <label for="left">Left</label>
          <input type="text" name="deck_left" id="left">
      </div>
      <div>
          <label for="right">Right</label>
          <input type="text" name="deck_right" id="right">
      </div>
      <div>
          <input type="submit" value="Create"/>
      </div>
  </form>
</div class="deck-form">
